<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/html" >
  <head>
      <meta content = "”no-cache”" http-equiv = "“Pragma”">
        <meta content = "”-1″" http-equiv = "“Expires”">
    <meta content = "”NO-CACHE”" http-equiv = "“CACHE-CONTROL”">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
    <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.">
    <link rel="icon" ype="image/png" href="../static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Compassionate Care Hospice</title>
    <script src="/static/js/main.js"></script>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player',{
          events: {
            onReady: function(event) {
              //- var embedCode = event.target.getVideoEmbedCode()
              //- event.target.unMute()
              event.target.setVolume(100)
            }
          }
        })
      }
    </script><!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');

    </script>
    <noscript><img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133675222-1');
    </script><!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="/hospice/services.html">Services</a></li>
                  <li class="uk-parent"><a href="/hospice/careers.html">Careers</a></li>
                  <li class="uk-parent"><a href="/hospice/about.html">About</a></li>
              </ul>
            </div><a class="uk-navbar-item uk-logo" href="/"><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"></a>
            <div class="uk-navbar-center-right uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent uk-nav-divider"></li>
                <li class="uk-parent"><a href="/hospice/locations.html">Locations</a></li>
                <li class="uk-parent"><a href="/hospice/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <style>
        p {
          line-height: 4rem;
        }
      </style>
      <div>
        <div class="uk-text-center">
          <div class="uk-padding">
            <img src="/static/assets/compassionate-hospice.svg" style="max-height: 200px; margin-bottom: 25px;" alt="Compassionate Care Home Health Agency Logo">
          </div>
        </div>
      </div>
        <div class="uk-section uk-preserve-color uk-align-middle" style="background-color:#f8f8f8; margin-bottom: -40px;">
          <div class="uk-grid-match uk-child-width-1-1@s uk-padding" uk-scrollspy="target: > div; cls: uk-animation-scale-up; " uk-grid>
            <div>
              <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-container">
                  <div class="uk-padding">
                    <h2 class="uk-text-center">
                      Thank you for your interest in joining our mission of providing comfort and compassion to our patients and their families...
                    </h2>
                  </div>
                </div>
                <p class="uk-text-justify" style="line-height: 1.5rem;">
                  Hospice is a philosophy of curated care and service for people with
                  a terminal illness along with providing a support system to their loved ones.
                  Hospice is about providing the best quality of life during the final stage of life.
                </p>
                <div class="uk-panel">
                  <h2 style="text-align: left;">{{print "Benefits:"}}</h2>
                </div>
                <p class="uk-text-justify" style="line-height: 1.5rem;">
                  We generously offer 401K plans, Health + Dental Insurance, flexible hours, top industry pay, mileage reimbursement, gym reimbursement,
                  child care, pet care, hosted recreational events and much more.
                </p>
                <h2 style="text-align: left;">
                  To Proceed:
                </h2>
                <p class="uk-text-justify" style="line-height: 1.5rem;">
                  Kindly send resumes to <a href="mailto:jobs@cchha.com">jobs</a> and a member of our team will contact you.
                </p>
                <p class="uk-text-justify" style="line-height: 1.5rem;">
                  Do you feel a calling to help people during their final phase of life? It's a sacred space and the most selfless journey you will ever embark on.
                  We encourage you to inquire and learn more by contacting us: <a href="/hospice/contact.html"contact">contact us</a>
                </p>
              </div>
            </div>
          </div>

        </div>
    </div>
  </body>
</html>
